{% extends "container.html" %}
{% block corps %}
<br />
<h2 class="text-center">Welcome on Lirimix</h2>

<p><button onclick="Gaeilge()">Gaeilge</button></p>
<div id="myDIV" style="text-align:center;">
    <p>Lirimix is a web application displaying lirycs (in irish: "liricí") of Irish songs from the War of Independance era,
    going from the Easter Uprising in 1916 to the Civil War in 1923.</p>
</div>
<br />
<div class="inline-block">
    <img src="{{ url_for("static", filename="img/todisplay1.jpg") }}" alt="" class="img-thumbnail" width="350" height="450"/>
    <img src="{{ url_for("static", filename="img/todisplay2.jpg") }}" alt="" class="img-thumbnail" width="350" height="450"/>
    <img src="{{ url_for("static", filename="img/todisplay3.jpg") }}" alt="" class="img-thumbnail" width="350" height="450"/>
</div>
<script>
function Gaeilge() {
  var x = document.getElementById("myDIV").getElementsByTagName("p")[0];
  if (x.innerHTML === "Lirimix is a web application displaying lirycs (in irish: 'liricí') of Irish songs from the War of Independance era, going from the Easter Uprising in 1916 to the Civil War in 1923.") {
    x.innerHTML = "Is feidhmchlár gréasáin é Lirimix a thaispeánann liricí d’amhráin Ghaeilge ó ré Chogadh na Saoirse, ag dul ó Éirí Amach na Cásca i 1916 go dtí an Cogadh Cathartha i 1923.";
  } else {
    x.innerHTML = "Lirimix is a web application displaying lirycs (in irish: 'liricí') of Irish songs from the War of Independance era, going from the Easter Uprising in 1916 to the Civil War in 1923.";
  }
}
</script>

{% endblock %}